<html lang="en" style="--vh:2.77px;"><head>

    <link rel="stylesheet" href="../chatting/bootstrap.min.css">       
    <link rel="stylesheet" href="../chatting/font-awesome.min.css"> 
    <link rel="stylesheet" href="/themify-icons/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat App</title>
    <link rel="icon" href="http://soho.laborasyon.com/dark/dist/media/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="../chatting/soho.min.css">
    <link href="../chatting/select2.min.css" rel="stylesheet">
</head>

<style type="text/css">

body.dark .modal-content .modal-header ,button.btn.btn-primary.create_group{
    background-color: #1ea7b1;
    border: 1px solid #00EEFF;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #5897fb;
    color: #79554E;
    text-align: center;
}
.select2-results__options{
    color: black;
    font-size: 17px;
    text-align: center;
}
.select2-container--default .select2-selection--multiple {
    background-color: #4D505A;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text;
}
li.select2-selection__choice {
    font-size: 17px;
    background-color: #1ea7b1;
    color: #1ea7b1;
}
a.btn.btn-light.newfrd {
    background-color: #2196f3;
}
a.btn.btn-light.newgrp {
    background-color: #ff5722;
}
i.fa.fa-users,i.ti-comment-alt {
    color: aliceblue;
    font-size: 25px
}
</style>